* {
    margin: 0;
    padding: 0;
}

.to-do-list {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do {
    height: auto;
    width: 500px;
    background-color: rgb(3, 4, 74);
    display: block;
    justify-content: center;
    border-radius: 2rem;
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
}

h1 {
    font-size: 35px;
    margin-top: 15px;
    color: white;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.to-do h1 i {
    margin-left: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

#input-box {
    background-color: white;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 14px;
    width: 300px;
    flex: 1;
    background-color: transparent;
    font-size: 16px;
}

#btn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #FFA500;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul {
    padding-top: 15px;
}

ul li {
    list-style: none;
    font-size: 20px;
    color: #fff;
    padding: 12px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    margin-top: 3px;
}

ul li.task{
    color: #fff;
    text-decoration: line-through;
}

ul li.task::before{
    background-image: url(/checked.img.png);
    background-size: cover;
    background-position: center;
}

ul li delIcon{
    position: absolute;
    right: 0;
    top: 5px;
    height: 30px;
    width:30px;
    font-size: 30px;
    color: #edeef0;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-top: 4px;
}

ul li delIcon:hover{
    background-color: #edeef0;
    color: black;
}
